header {
  width: 100%;
  padding: 28px 8%;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav_logo {
  font-size: 35px;
}
p {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#nav_list {
  display: flex;
  list-style: none;
  gap: 48px;
}

.nav_item a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.nav_item a:hover {
  color: #464a4f;
  transition: background-color 3s ease;
}

.nav_item.active a {
  color: #656a71;
  border-bottom: 3px solid #747e8c;
}

#mobile_btn {
  display: none;
}
#mobile_menu {
  display: none;
}
#navbar span {
  display: flex;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1170px) {
  #nav_list {
    display: none;
  }
  #navbar .btn-default {
    display: none;
  }

  #mobile_btn {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #mobile_menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0px;
  }

  #mobile_nav_list .nav_item {
    list-style: none;
    text-align: center;
  }
}
